<div id="sport-container">
  <div id="sport-title">
<h1 style="text-align:center;font-family: 'Michroma', sans-serif;">Sport Rules</h1>
    <hr class="my-4">
    <ul>
      <li><h2 style="text-align:left"><%= link_to "Flag Football Rules", "https://drive.google.com/file/d/1eRL1zYy7CamvjO9RKwPNc5BTLB8c8ppwYM3IMWuCT54/preview", target: :_blank%></h2></li>
      <li><h2 style="text-align:left"><%= link_to "Volleyball Rules", "https://drive.google.com/file/d/1yUxRCPSRseKOaX3aPT4-Aw33r9hi2lDEXG8ohxC4Nsg/preview", target: :_blank%></h2></li>
    </ul>
    <br>
</div>
</div>
