<div id="sport-container">
  <div id="sport-title">
<h1 style="text-align:center;font-family: 'Michroma', sans-serif;">Sport Rules</h1>
    <hr class="my-4">
<div class="iframe-div" style="text-align: center;">
									<iframe src="https://drive.google.com/file/d/1eRL1zYy7CamvjO9RKwPNc5BTLB8c8ppwYM3IMWuCT54/preview" width="50%" height="550"></iframe>
								</div>
</div>
</div>
