<div id="sport-container">
  <div id="sport-title">
<h1 style="text-align:center;font-family: 'Michroma', sans-serif;">Sport Rules</h1>
    <hr class="my-4">
    <ul>
      <li><h2 style="text-align:left"><%= link_to "Flag Football Rules", "https://drive.google.com/file/d/1eRL1zYy7CamvjO9RKwPNc5BTLB8c8ppwYM3IMWuCT54/preview", target: :_blank%></h2></li>
      <li><h2 style="text-align:left"><%= link_to "Volleyball Rules", "https://drive.google.com/file/d/1s2AunLPqZyfELvXPpDGz50iScqBGqxU1Stdat1_aj6s/preview", target: :_blank%></h2></li>
      <li><h2 style="text-align:left"><%= link_to "Basketball Rules", "https://drive.google.com/file/d/1EXC0A3SOHsDV1VT7C_c9A3IdQ77lK1kJWsQsfmCorW4/preview", target: :_blank%></h2></li>
      <li><h2 style="text-align:left"><%= link_to "Cross Country Rules", "https://drive.google.com/file/d/102pji6H9HZux3morELaULBTB8XbCnC4X8xHuLCWy5CE/preview", target: :_blank%></h2></li>

    </ul>
    <br>
</div>
</div>
