/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
background-color: #dcdcdc;
}
 .login-form{
   text-align:center;
   width: 80%;
   margin: 0 auto; width:855px;
 }

 .notice {
   text-align: center;
   font-size: 20px;
   margin-top: 40px;
   color: green;
 }
 .school-box{
   max-width:100% !important;
 }
#school-container{
  width: 80%;
  margin: 0 auto;
}

#create-new-school{
  text-align:center;
  width: 80%;
  margin: 0 auto; width:855px;
}

#edit-school{
  text-align:center;
  width: 80%;
  margin: 0 auto; width:855px;
}

#school-home-container{
  width: 80%;
  margin: 0 auto;
}

#location-container{
  width: 80%;
  margin: 0 auto;
}

#create-new-location{
  text-align:center;
  width: 80%;
  margin: 0 auto; width:855px;
}

#message-container{
  width: 80%;
  margin: 0 auto;
}

#create-new-message{
  text-align:center;
  width: 80%;
  margin: 0 auto; width:855px;
}

#edit-message{
  text-align:center;
  width: 80%;
  margin: 0 auto; width:855px;
}

#sport-container{
  width: 80%;
  margin: 0 auto;
}
#sport-title{
  text-align:center;
  background-color: #FFFFFF
}


#conference-standings{
  text-align: left;
  padding-left: 5%;
}

#create-new-school{
  text-align:center;
  width: 80%;
  margin: 0 auto; width:855px;
}
